.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;


  @include tablets {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 70px;
  }

  @include desktop {
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 90px;
  }


  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    transform: translateY(30px);
    opacity: 0;
    transition: all .5s linear;

    @media (min-width:550px) {
      max-width: 250px;
    }

    @include desktop {
      max-width: 300px;

      &:first-child {
        transition-delay: .3s;
      }

      &:nth-child(2) {
        transition-delay: .6s;
      }

      &:nth-child(3) {
        transition-delay: .9s;
      }
    }
  }
}

.advantages {

  &__background {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #f7f5f5;

    @media (min-width: 500px) {
      width: 100px;
      height: 100px;
      margin-bottom: 15px;
    }

    @include desktop {
      width: 120px;
      height: 120px;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    fill: $blue-1;

    @media (min-width: 500px) {
      width: 70px;
      height: 70px;
    }

    @include desktop {
      width: 80px;
      height: 80px;
    }
  }
}

.advantages {

  &__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin-bottom: 5px;

    @media (min-width:550px) {
      font-size: 24px;
      text-align: center;
    }

    @include desktop {
      font-size: 26px;
    }
  }
}

.advantages {

  &__subtitle {
    @extend .advantages__title;
    font-size: 18px;
    font-weight: 500;

    @media (min-width: 500px) {
      font-size: 20px;
      max-width: 400px;
    }

    @include desktop {
      font-size: 20px;
    }
  }
}

.appear {
  transform: translateY(0);
  opacity: 1;
}
