.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // width: 40px;
  // height: 40px;
  border: none;
  background-color: transparent;
  z-index: 3;
  outline: transparent;

  @include tablets {
    display: none;
  }

  &__icon {
    fill: #fff;
    width: 45px;
    height: 45px;
  }
}