.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  background-color: transparent;
  z-index: 2;
  outline: transparent;
  transition: z-index .5s linear .5s;
  
  @include tablets {
    display: none;
  }
  
  &__icon {
    fill: #fff;
    width: 45px;
    height: 45px;
  }
  
  &.displayed {
    transition: z-index .6s linear .5s;
    z-index: 3;
  }
}