.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 5px;


  @include tablets {
    justify-content: flex-start;
    row-gap: 15px;
    column-gap: 10px;
  }

  &__item {
    position: relative;
    width: 325px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;


    @include tablets {
      max-width: 350px;
    }

    &:hover {
      .catalog-list__background {
        transform: rotateY(180deg);
      }

      &:hover {
        .catalog-list__back {
          opacity: 1;
          transform: rotateY(0);
        }
      }
    }
  }

  &__background,
  &__back {
    transition: transform .5s linear;
  }

  &__background {
    transform: rotateY(0deg);
  }

  &__back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    opacity: 0;
    transform: rotateY(-180deg);
    background-color: $blue-2;
  }
}

.catalog-list {

  &__title {
    text-align: center;
    margin-bottom: 25px;
  }

  &__subtitle {
    font-size: 18px;
    text-align: center;
  }

   .hidden {
    display: none;
  }
}

.appear-info {
  .catalog-list__background {
    transform: rotateY(180deg);
  }

  .catalog-list__back {
    opacity: 1;
    transform: rotateY(0);
  }
}