.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 0;
  color: #000;

  @include tablets {
    max-width: 786px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 85%;

    &--base {
      @include tablets {
        flex-direction: row;
        column-gap: 15px;
      }
    }
  }

  &__item {
    width: 100%;
  }
}

.form {

  &__label {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__input {
    font-size: 18px;
    font-weight: 700;
    padding: 5px 10px;
    width: 100%;
    border: 2px solid $blue-5;
    border-radius: 5px;
    transition: .5s linear;
    outline: none;
    color: #000;

    &:hover {
      border: 2px solid rgb(185, 225, 252);
    }

    &:focus {
      border: 2px solid rgb(0, 134, 0);
    }

    &._error {
      box-shadow: 0 0 10px red;
    }
  }

  &__comment {
    @extend .form__input;
    min-height: 100px;
    resize: vertical;
    padding: 20px;
  }
}

.form {

  &__button {
    font-size: 18px;
    font-weight: 700;
    color: $blue-5;
    padding: 10px 20px;
    border: 2px solid $blue-5;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: transparent;
    transition: all .5s linear;
    outline: none;
    cursor: pointer;

    &:hover {
      color: #fff;
      border-color: rgba($blue-1, .5);
      background-color: rgba($blue-1, .5);
    }

    &:focus {
      color: rgb(0, 134, 0);
      border-color: rgb(0, 134, 0);
      background-color: #e5e5e5;
    }
  }
}

.options {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  @media (min-width: 500px) {
    flex-direction: row;
  }

  @include tablets {
    column-gap: 15px;
    row-gap: 0;
  }

  &__item {
    width: 100%;
  }

  &__label {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    padding-left: 30px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $blue-5;
      border-radius: 50%;
      background-color: #fff;
    }

    &::after {
      position: absolute;
      content: "";
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #009999;
      opacity: 0;

      transition: all .3s linear;
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked+.options__label::after {
      opacity: 1;
    }
  }
}