.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background: none;
  padding: 20px 0;
  z-index: 10000;
  padding: 20px 0 40px;
  transition: all .5s linear;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.sticky {
  background-color: rgba($blue-5, .7);
  padding: 16px 0 10px;
}