.logo {
  position: relative;
  text-align: center;
  opacity: 1;
  z-index: 3;
  transition: opacity .5s linear .1s;

  &.hidden {
    opacity: 0;
    transition: opacity .5s linear .1s;
    z-index: -1;
  }

  &__link {
    @include font("Kamila", 36px, 400, normal);
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: all .5s ease-out;
    line-height: 1;

    @include tablets {
      font-size: 42px;
      letter-spacing: 5px;
      letter-spacing: -3px;
    }

    &:hover {
      color: $blue-5;
    }

    & span {
      @include tablets {
        display: none;
      }
    }

  }

  &__icon {
    left: 191px;
    position: absolute;
    top: -12px;
    width: 22px;
    height: 34px;
    transform: rotate(25deg);
    z-index: -1;

    @include mini-mobile {
      left: 191px;
    }

    @include tablets {
      left: 40px;
      top: -20px;
      z-index: 1;
    }
  }

}