.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 50px;

  @media (orientation: landscape) and (max-height: 520px) {
    row-gap: 20px;
    top: 35px;
  }

  @include tablets {
    flex-direction: row;
    column-gap: 15px;
  }

  @include desktop {
    column-gap: 25px;
  }

}

.menu {

  &__item {
    position: relative;
    @include font('Colus', 24px, 400, normal);
    letter-spacing: 2px;
    filter: blur(24px);
    transition: all .5s linear;

    transform: translateY(50%);

    @media (orientation: landscape) and (max-height: 280px) {
      font-size: 16px;
    }

    &:nth-child(1) {
      transition-delay: .2s;
    }

    &:nth-child(2) {
      transition-delay: .3s;
    }

    &:nth-child(3) {
      transition-delay: .4s;
    }

    &:nth-child(4) {
      transition-delay: .5s;
    }

    &:nth-child(5) {
      transition-delay: .8s;
    }

    @include tablets {
      filter: inherit;
      height: inherit;
      transform: inherit;
      font-size: 12px;
    }

  }
}

.menu {

  &__link {
    position: relative;
    text-transform: capitalize;
    display: block;
    color: #fff;
    transition: all .3s linear;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 7px;
      background-color: #e8b5fa;
      transform: scaleX(0);
      transform-origin: left;
      z-index: -1;
      transition: all .3s linear;
    }

    &:hover::before {
      transform: scaleX(1);
    }

    &:active {
      opacity: .7;
    }
  }
}