.reviews-list {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 350px;
  // padding-bottom: 20px;
}

.reviews-list {

  &__item {
    position: relative;
    display: none;
    margin: 0 auto;
    animation: .5s ease-in-out;

    &.active,
    &.next {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.next {
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.reviews-list {

  &__wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 0px 3px 0px $blue-2;
    margin-bottom: 20px;

    @include tablets {
      width: 120px;
      height: 120px;
    }
  }

  &__image {
    object-fit: contain;
  }
}


.reviews-list {

  &__information {
    padding: 10px 5%;

    @include tablets {
      max-width: 600px;
    }

    @include desktop {
      max-width: 800px;
    }
  }

  &__name {
    @include font("Arial", 18px, 500, normal);
    color: #000;
    margin-bottom: 15px;
    text-align: center;

    @include tablets {
      font-size: 22px;
    }
  }

  &__review {
    @extend .reviews-list__name;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 0;

    @include tablets {
      font-size: 16px;
    }
  }
}

.to-left {
  animation-name: left;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}