.reviews-slider {
  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.reviews-slider {
  &__inner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 0px 3px 0px $blue-2;
    margin-bottom: 20px;

    @include tablets {
      width: 120px;
      height: 120px;
    }
  }

  &__image {
    object-fit: contain;
  }
}

.reviews-slider {
  &__information {
    padding: 10px 5%;

    @include tablets {
      max-width: 600px;
    }

    @include desktop {
      max-width: 800px;
    }
  }

  &__name {
    @include font("Arial", 18px, 500, normal);
    color: #000;
    margin-bottom: 15px;
    text-align: center;

    @include tablets {
      font-size: 22px;
    }
  }

  &__review {
    @extend .reviews-slider__name;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 30px;

    @include tablets {
      font-size: 16px;
    }
  }
}


.swiper-container {
  color: #000;
}

.swiper-button-prev {
  display: none;

  @include tablets {
    display: block;
    width: 40px;
    height: 40px;
  }

  &::after {
    display: none;

    @include tablets {
      display: block;
      content: '';
      width: 40px;
      height: 40px;
      background: url('../images/decor/arrow-left.svg') no-repeat;
    }
  }
}

.swiper-button-next {
  display: none;

  @include tablets {
    display: block;
    width: 40px;
    height: 40px;
  }


  &::after {
    display: none;

    @include tablets {
      display: block;
      content: '';
      width: 40px;
      height: 40px;
      background: url('../images/decor/arrow-right.svg') no-repeat;
    }
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #fff;
  outline: none;
}

.swiper-pagination-bullet-active {
  border-color: $blue-2;
  background-color: $blue-2;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}