*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline-color: whitesmoke;
}

body {
  font-family: 'Cormorant Garamond', Arial, serif;
  min-width: 270px;
  height: 100%;
  min-height: 100%;
  background-color: #fff;
  color: #fff;

  &.hidden {
    overflow-y: hidden;
  }
}

a {
  display: block;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 280px;

  @include mini-mobile {
    padding: 0 10px;
  }

  @include desktop {
    max-width: 1100px;
  }
}

.button {
  position: relative;
  @include font('Colus', 16px, 400, normal);
  letter-spacing: 1px;
  padding: 7px 20px;
  border: 4px solid #fff;
  color: #fff;
  background: none;
  outline-offset: 5px;
  outline-color: wheat;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    top: -4px;
    left: 10%;
    width: 10px;
    height: 4px;
    background-color: #33cccc;
    transition: all 0.3s linear;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: -4px;
    right: 10%;
    width: 10px;
    height: 4px;
    background-color: #33cccc;
    transition: all 0.3s linear;
  }

  &:hover {
    &:before {
      left: 80%;
    }
  }

  &:hover {
    &::after {
      right: 80%;
    }
  }

  &:hover {
    color: $blue-3;
    border: 4px solid $blue-3;
  }
}
