*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline-color: red;
}

body {
  min-width: 270px;
  height: 100%;
  min-height: 100%;
  background-color: #fff;

  .hidden {
    overflow: hidden;
  }
}

a {
  display: block;
  cursor: pointer;
}

.wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 280px;

  @include mini-mobile {
    padding: 0 10px;
  }
}