//Media
@mixin mini-mobile {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin tablets{
  @media (min-width: 660px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 960px) {
    @content;
  }
}
//Text
@mixin font($font-family: "Open Sans", $font-size: 14px, $font-weight: 400, $font-style: normal) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: $font-style;
}