.section {
  position: relative;
  padding: 100px 0;

  &__title {
    position: relative;
    @include title;
    margin-bottom: 20px;
    transform: translateX(-10px);
    opacity: 0;
    transition: all .5s ease-in-out;

    &::before {
      position: absolute;
      content: "";
      bottom: -5%;
      left: 50%;
      width: 35%;
      height: 3px;
      background-color: $blue-2;
      border-radius: 5px;
      transform: translateX(-50%);
    }

    @include tablets {
      font-size: 30px;
    }

    @include desktop {
      font-size: 35px;
    }
  }

  &__subtitle {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #000;
    margin-bottom: 60px;
    transform: translateX(10px);
    opacity: 0;
    transition: all .5s ease-in-out .5s;

    @media (min-width: 500px) {
      font-size: 24px;
      max-width: 600px;
      margin: 0 auto 60px;
    }

    @include desktop {
      font-size: 28px;
      margin-bottom: 80px;
    }
  }
}

.hero {
  background-color: #33CCCC;

  @media (min-width: 510px) {
    background: url("../images/decor/welcome-pattern.png") right bottom no-repeat;
    background-color: #33CCCC;
  }

  &:before {
    position: absolute;
    content: "";
    bottom: -8%;
    left: 5%;
    background: url(../images/decor/hero-sheet.png) no-repeat;
    width: 50%;
    height: 112px;
  }
}

.about-us {

  &__title {
    &>span {
      display: block;

      @media (min-width: 500px) {
        display: inline;
      }
    }
  }

  @include tablets {
    background: url("../images/decor/aboutus-sheet.png") left 33% no-repeat;
  }
}

.appear-title {
  transform: translateX(0);
  opacity: 1;
}

.appear-subtitle {
  transform: translateX(0);
  opacity: 1;
}