.section {
  position: relative;
  padding: 100px 0;

  &__title {
    position: relative;
    @include title;
    margin-bottom: 20px;

    @include tablets {
      font-size: 30px;
    }

    @include desktop {
      font-size: 35px;
    }
  }

  &__subtitle {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #000;
    margin-bottom: 60px;

    @media (min-width: 500px) {
      font-size: 24px;
      max-width: 600px;
      margin: 0 auto 60px;
    }

    @include desktop {
      font-size: 28px;
      margin-bottom: 80px;
    }
  }
}

.hero {
  background-color: #33CCCC;

  @media (min-width: 510px) {
    background: url("../images/decor/welcome-pattern.png") right bottom no-repeat;
    background-color: #33CCCC;
  }

  &:before {
    position: absolute;
    content: "";
    bottom: -8%;
    left: 5%;
    background: url(../images/decor/hero-sheet.png) no-repeat;
    width: 50%;
    height: 112px;
  }
}

.about-us {

  &__title {
    transform: translateX(-10px);
    opacity: 0;
    transition: all .5s ease-in-out;

    &>span {
      display: block;

      @media (min-width: 500px) {
        display: inline;
      }
    }
  }

  &__subtitle {
    transform: translateX(10px);
    opacity: 0;
    transition: all .5s ease-in-out .5s;
  }

  @include tablets {
    background: url("../images/decor/aboutus-sheet.png") left 33% no-repeat;
  }
}

.catalog {
  background-color: #f5f5f5;

  &::before {
    position: absolute;
    content: "";
    top: -40px;
    left: 20px;
    width: 83px;
    height: 90px;
    background: url(../images/decor/raspberry.png) no-repeat;
  }
}

.appear-title {
  transform: translateX(0);
  opacity: 1;
}

.appear-subtitle {
  transform: translateX(0);
  opacity: 1;
}

.reviews {
  padding: 50px 0 100px;
  background-color: #f2f2f2;

  &::before {
    position: absolute;
    content: "";
    top: 30px;
    right: 0;
    width: 113px;
    height: 79px;
    background: url("../images/decor/strawberry.png") no-repeat;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}

.order {
  background: url("../images/decor/order-pattern.png") repeat;
  background-color: #5CCCCC;

  @include tablets {
    background: url("../images/decor/blueberries.png") 5% 80% no-repeat,
      url("../images/decor/order-pattern.png") repeat;
    background-color: #5CCCCC;
  }

  &::before {
    display: none;

    @include tablets {
      display: block;
      position: absolute;
      content: "";
      top: -15%;
      right: 0;
      width: 148px;
      height: 198px;
      background: url("../images/decor/blueberries-sheet.png") no-repeat;
    }
  }
}

.map {
  position: relative;
  overflow: hidden;
  padding: 0;
  height: 400px;
}

.footer {
  padding: 20px 0;
  @include font("Cormorant Garamond", 18px, 700, normal);
  color: #000;
  background-color: rgba(229, 229, 229, .4);

  @include tablets {
    padding: 30px 0;
  }

  @include desktop {
    padding: 35px 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

    @include tablets {
      flex-direction: row;
      justify-content: space-around;
      row-gap: 0;
    }

    @include desktop {
      justify-content: space-between;
    }
  }
}